* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 550px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: red;
}

.main-visual {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main {
  width: 960px;
  /* 100%から変更。※marginプロパティに0,autoを指定する際に、横幅の設定が必要なため */
  /* height: 1400px; ※margin :0 autoに伴う変更 */
  /* background-color: #00cc33; ※margin :0 autoに伴う変更 */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* ↑疑問点↑ */
}

.left {
  width: 230px;
  height: 1400px;
  background-color: #66ff99;
}

.center {
  width: 500px;
  height: 1400px;
  background-color: #32cd32;
}

.right {
  width: 230px;
  height: 1400px;
  background-color: #66ff99;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: blue;
}
